[Unit]
Description=Hubitat Prometheus Exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=gerard
Group=gerard
WorkingDirectory=/home/gerard/projects/hubitat-exporter-k3s
ExecStart=/home/gerard/projects/hubitat-exporter-k3s/hubitat-exporter.sh
Restart=always
RestartSec=5
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
